	<h2 id="<%= jsontitle + '_create' %>">Create <%= jsontitle %></h2>     <!--  prints each subtitle on the html --> 

    <p>This is the page where one is redirected to when creating <%= jsontitle %></p>     <!-- display the description --> 
