	<h2 id="<%= jsontitle + 'delete' %>">Delete <%= jsontitle %></h2>     <!--  prints each subtitle on the html --> 

    <p>This is the page where one is redirected to when deleting/archiving <%= jsontitle %></p>     <!-- display the description --> 