      <h2 id="<%= jsontitle + '_edit' %>">Edit <%= jsontitle %></h2>     <!--  prints each subtitle on the html --> 

      <p>This is the page where one is redirected to when editing <%= jsontitle %></p>     <!-- display the description --> 